/* ===== NAVBAR ===== */

.navbar{
    position:fixed;
    top:10px;
    left:50%;
    transform:translateX(-50%);

    width:90%;
    max-width:1200px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:12px 25px;

    background:rgba(15,23,42,.85);
    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,.1);
    border-radius:18px;

    
   box-shadow:
0 8px 30px rgba(0,0,0,.35),
0 0 20px rgba(255,215,0,.18),
0 0 40px rgba(255,215,0,.08);

border:1px solid rgba(255,215,0,.15);

    z-index:1000;
    transition:.4s ease;
}

/* Scroll Effect */

.navbar.scrolled{
    top:5px;
    background:rgba(2,6,23,.95);
    box-shadow:0 10px 35px rgba(0,0,0,.45);
}

/* ===== PREMIUM LOGO ===== */

.logo{
    display:flex;
    align-items:center;
    gap:15px;
    text-decoration:none;
}

.logo img{
    transition:.4s ease;
}

.logo img:hover{
    transform:translateY(-5px) scale(1.08);

    box-shadow:
    0 10px 25px rgba(56,189,248,.4);
}

.logo h5{
    margin:0;
    color:white;

    font-size:18px;
    font-weight:700;

    white-space:nowrap;
}

.logo:hover img{
    box-shadow:
    0 0 25px rgba(26, 89, 227, 0.9),
    0 0 50px rgba(28, 176, 136, 0.25);
}



.logo:hover h5{
    color:#38bdf8;
    text-shadow:0 0 12px rgba(56,189,248,.8);
}

.logo:active{
    transform:scale(.96);
}

/* ===== MENU ===== */

.navbar ul{
    display:none;
}

.navbar ul.show{
    display:flex;
}

.navbar ul li a{
    text-decoration:none;
    color:#fff;
    font-size:15px;
    font-weight:600;

    position:relative;
    transition:.3s;

    -webkit-tap-highlight-color:transparent;
}

.navbar ul li a:hover{
    color:#ffd700;
}

.navbar ul li a::after{
    background:#ffd700;
}

.navbar ul li a.active{
    color:#ffd700;
}

.navbar ul li a:hover::after,
.navbar ul li a.active::after{
    width:100%;
}

.navbar ul li a.active{
    color:#38bdf8;
}

/* ===== PREMIUM HAMBURGER ===== */

.menu-btn{
    display:none;

    width:45px;
    height:45px;

    border-radius:12px;

    background:rgba(255,255,255,.08);
    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,.15);

    color:white;
    font-size:24px;

    cursor:pointer;

    transition:all .3s ease;

    align-items:center;
    justify-content:center;

    -webkit-tap-highlight-color:transparent;
}

.menu-btn:hover{
    background:rgba(255,215,0,.15);

    border-color:#ffd700;

    box-shadow:
    0 0 20px rgba(255,215,0,.5);
}

.menu-btn:active{
    transform:scale(.9);
}

/* ===== MOBILE ===== */

@media (max-width:768px){
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

    .menu-btn{
        display:flex;
    }

    .logo h5{
        font-size:16px;
    }

    .logo img{
        width:45px;
        height:45px;
    }

    .navbar ul{
        display:none;

        position:fixed;
        top:80px;
        left:10px;

        width:220px;

        background:#0f172a;

        flex-direction:column;
        align-items:flex-start;

        gap:15px;
        padding:20px;

        border-radius:15px;

        border:1px solid rgba(255,255,255,.1);

        box-shadow:0 8px 20px rgba(0,0,0,.3);
    }

    .navbar ul.show{
        display:flex;
    }

    .navbar ul li{
        width:100%;
    }

    .navbar ul li a{
        display:block;
        width:100%;
        padding:10px 0;
        font-size:15px;
    }
}

/* Remove Mobile Touch Highlight */

*{
    -webkit-tap-highlight-color:transparent;
}