{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio{% endblock %}</title>

    
    <link rel="stylesheet" href="{% static 'css/skills.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
     <link rel="stylesheet" href="{% static 'css/contact.css' %}">
     <link rel="stylesheet" href="{% static 'css/nav.css' %}">
      <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>


    <!-- Content -->
    <main>
        {% include 'navbar.html' %}
        
        {% block content %}
        {% endblock %}

    </main>
      {% include 'footer.html' %}
   
    <script src="{% static 'js/script.js' %}"></script>
     <script src="{% static 'js/home.js' %}"></script>
     <script src="{% static 'js/skill.js' %}"></script>
     <script src="{% static 'js/about.js' %}"></script>
     <script src="{% static 'js/portfolio.js' %}"></script>
       <script src="{% static 'js/contact.js' %}"></script>
        <script src="{% static 'js/nav.js' %}"></script>
        <script src="{% static 'js/sound.js' %}"></script>
        {% load static %}

{% load static %}

<audio id="menuSound">
    <source src="{% static 'sounds/click3dot.mp3' %}" type="audio/mpeg">
</audio>

<audio id="clickSound">
    <source src="{% static 'sounds/click.mp3' %}" type="audio/mpeg">
</audio>

<audio id="hoverSound">
    <source src="{% static 'sounds/hover.mp3' %}" type="audio/mpeg">
</audio>
<audio id="socialSound">
    <source src="{% static 'sounds/social.mp3' %}" type="audio/mpeg">
</audio>

<audio id="PhoneSound">
    <source src="{% static 'sounds/phone.mp3' %}" type="audio/mpeg">
</audio>
<audio id="SendSound">
    <source src="{% static 'sounds/thank.mp3' %}" type="audio/mpeg">
</audio>
<audio id="ProfSound">
    <source src="{% static 'sounds/prof.mp3' %}" type="audio/mpeg">
</audio>
<audio id="AboutSound">
    <source src="{% static 'sounds/click2.mp3' %}" type="audio/mpeg">
</audio>

</body>
</html>