{% load static %}

<nav class="navbar">

    <div class="logo">
        <a href="/" class="logo">
       <strong><img src="{% static 'image/nav_logo.png' %}" alt="Logo"></strong>

        <h5>Muhammad Midhlaj</h5><a>
    </div>
  <div class="menu-btn" onclick="toggleMenu()">
        ☰
    </div>
    <ul id="navMenu" class="nav-links">
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/portfolio/">Projects</a></li>
        <li><a href="/skills/">Skills</a></li>
        <li><a href="/contact/">Contact</a></li>
    </ul>

</nav>